.trashSection {
  width: 100%;
  height: 80px;
  bottom: 0px;
  right: 0px;
  background-color: #f44336;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
